body, html {
	height: 100%;
}

table {
	font-family: "Quicksand", "Courier New";
}
td {
	vertical-align: top;
}

.navbar {
	font-family: "Quicksand", "Courier New";
}

.coverImage {
	/* Image */
	background-image: url("https://lh3.googleusercontent.com/9M4qEjkQ4uqCRq2Jmp1pO_t3mItWlPeWKXwIQHsFr4qa6IEZp4TK2HnI33cncOSCzw_63_Bmg_32-258Tdj8dDMFVHqL10U3Atii1WCxR8laWRZBhMbXpOmtd-qePjPoUtfD2gG_M1OiJvbZ_OjRuFEvOtPqrMYFrQ3HtiDPANNuy7rgacy6nThCmLO46YlfetaTTIT2qIWG_ypp9w6Uv9U2b4A7nAFN_wyB0sN7h-T5NcFIBNPgkhItECEckXXypAqAL-a8cbMrGgt0CijBweI5Cglvj-J6I800FWOzCj2Qd9B4_GtoYa1okYSglAWU_Sq3_NrHfn_EY9Co9gfJnpOSvBgXkFCS69mDjcxaG2w3Fshg8UWvuFQHZeWEnrZgokZXL_zKKJbtgCKigmX6znBRhnnQDbi1SVrQn0_JdBbMx8BtfjboYqKJI1Bf5q9GgT6KzRB61VB93gAMijG8NyOW-XkIby455tm38aaE5TYTGOI7UCjuBWuPhEhFliQbapNnEMMebFTEsEOEy_veW7URHhKfI23Vv2ijtGfn84jfi-iP7eYuTZqT-cyrzjixOKrKOY55UjF4fnTGexBpVBhsS154FN0UTadDtd5nMPV1sSPOduBvoppAzFrptmMkfA2CS8jg8VSTaPKUfUrcwu_o4OoXRQs48tsyRGYc_eW2ACzXML0gIxr5Ctt1xas=w958-h719-no?authuser=0");
	/*background-image: url("images/GWC_logo_2016_on_Navy_.jpg");*/
	/*background-image: url("images/GWC_logo_2016_.png");*/

	/* Size of Image */
	height: 100%;
	width: 100%;

	/* Parallax Scrolling Effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

