.navbar {
  overflow: hidden;
  background-color: #990000;
  font-family: "Futura", "Roboto";
}

.container-fluid {
    background-color: #990000;
}

.navbar-default {
  background: #990000;
}

.navbar-brand a:hover{
  color: white;
}

.navbar-brand a{
  font-weight: bolder;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-nav li {
  float: right;
}

.navbar-main a:hover {
  color: #ffac12;
}

.active a{
  color: #ffac12;
}

.show {
  display: block;
}

@media screen and (max-width: 500px) {
  .navbar-nav li {
    float: left;
  }
}
