body, html {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

ul {list-style-type: none;}

.navbar #topLink a {
	background-color: #ffc4c4 !important;
	color: black !important
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.maintext {
	display: block;
}

.maintext h1 {
	text-align: center;
	font-family: "Montserrat";
	font-size: 60px;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

.maintext p {
	font-size: 30px;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
	margin-bottom: 2%;
	letter-spacing: 2px;
}

.maintext h2 {
	font-family: "Montserrat";
	margin-left: 15%;
	margin-right: 15%;
	font-weight: bold;
	font-size: 30px;
}

.maintext table {
	font-family: "Montserrat";
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
	width: 70%;
}

.maintext th {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 25px;
}

.maintext td {
	font-family: "Montserrat";
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.price {
	width: 30px;
}

.maintext button {
	margin-top: 1%;
	margin-bottom: 1%;
}

.btn {
	border: 2px solid black;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
	border-radius: 20px;
}

.button {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* On mouse-over */
.btn:hover {background: #990000; color: white;}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
	.maintext h1 {
		font-size: 45px;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 9%;
		margin-bottom: 7%;
	}

  .maintext p {
		font-size: 20px;
		margin-bottom: 11%;
	}

	.button {
		margin-top: 2%;
	}

	.maintext h2 {
		font-size: 25px;
		margin-left: 4%;
		margin-right: 2%;
	}

	.maintext table {
		margin-left: 4%;
		margin-right: 2%;
		margin-top: 2%;
		width: 94%;
	}

	.maintext th {
		font-size: 17px;
	}

	.maintext td {
		font-size: 13px;
	}

	.product {
		width: 85%;
	}

	.price {
		width: 15%;
	}
}
