body, html {
    height: 100%;
    margin: 0;
    font-family: "Quicksand", "Courier New";
    text-align: center;
    background-image: url("https://image.freepik.com/free-vector/seamless-pattern-baby-penguin-standing-sky-blue-background_1561-28.jpg");
    background-attachment: fixed;
    background-size: 500px;
}

/* Style the tab tables */
.tabcontenttable p, .tabcontenttable a, .tabcontenttable th, .tabcontenttable td{
    color: black;
    text-decoration: none;
}

.tabcontenttable table, .tabcontenttable th, .tabcontenttable td {
    width: 100%;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

.tabcontenttable th, .tabcontenttable td, .tabcontenttable a {
  padding: 10px;
  white-space: nowrap;
}

.tabcontenttable th{
  text-align: center !important
}

.tabcontenttable td:nth-child(2), .tabcontenttable td:nth-child(3), .tabcontenttable td:nth-child(4){
  text-align: center;
}

.tabcontenttable tr:nth-child(1) {
  background-color: #56d2d6 !important
}

.tabcontenttable tr:nth-child(odd) {
  background-color: #c4fdff;
}

.tabcontenttable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-family: "Work Sans", "Courier New";
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: black;
    display: none;
    padding: 50px;
    text-align: center;
    background-image: url("https://i.imgur.com/yUBibkS.jpg");
    background-attachment: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    font-family: "Work Sans", "Courier New";
}

/* Set default styles for tab content tables */
.tabcontenttable {
    color: white;
    display: none;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    font-family: "Work Sans", "Courier New";
}

/* Style each tab content individually */
/*
#London {background-color: #ffb5b5;}
#Paris {background-color:#ffdab5;}
#Tokyo {background-color:#c1ffb5;}
#Oslo {background-color:#b5c5ff;}
*/

.active, .active:hover {
  background-color: #c4fdff !important;
  color: black !important
}

#Default, #Default_table {
    display: block;
}

@media screen and (max-width: 500px) {
    #Default.tabcontent{
        padding: 31.5px;
    }

    /* Style the tab buttons */
    .tablink {
        padding: 14px 16px;
        font-size: 15px;
        width: 25%
    }

    /* Set default styles for tab content tables */
    .tabcontenttable {
        margin-top: 45px;
        padding: 36px;
    }

    .tabcontenttable table, .tabcontenttable td {
        font-size: 8px;
    }

    .tabcontenttable th {
        font-size: 10px;
    }

    .navbar #topLink a {
        background-color: #c4fdff !important;
        color: black !important
    }

    .navbar #iconMenuShows a {
        color: black !important
    }
}
