body, html {
		height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
		font-weight: lighter;
}

ul {list-style-type: none;}

.navbar #topLink a {
    background-color: #ffc4c4 !important;
    color: black !important
}

.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
}

.maintext {
		display: block;
}

.maintext h1 {
	text-align: center;
	font-family: "Montserrat";
	font-size: 75px;
	margin-left: 20%;
	margin-right: 20%;
}

.maintext p {
	font-size: 30px;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	letter-spacing: 2px;
}

.maintext img{
	  margin-left: auto;
	  margin-right: auto;
		margin-top: 7%;
		margin-bottom: 7%;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 13.3%;}
    .days li .active {
        padding: 2px;
        }
    .coverImage {
        background-image: url("../images/First_Date_Out.jpg");
    }
    .letter_filler {
        background-color: #000;
        border-width: 20px 10px 20px 10px;
        border-style: solid;
        border-color: #000;
    }
    .letter_container li {
        font-size: 12px;
        padding: 4px 20px 3px 0px;
    }
    .letter_container ul {
        padding-left: 30px;
    }
    .letter_container ul #letter_title {
        font-size: 17px;
        padding-top: 0px;
        padding-bottom: 15px;
    }

    /*
    .letter_filler {
        background-color: #000;
        border: 100px solid #000;
    }

    .letter_container {
        background: #000;
        border: 50px solid #000;
        height: 100%;
        position: relative;
        border-image: url(../images/hearts_border.png) 33% round;
    }

    .letter_container li {
        color: #FFF;
        text-align: left;
        font-family: 'Special Elite', cursive;
        font-size: 17px;
        padding: 3px 10px;
    }

    .letter_container ul #letter_title {
        color: #FFF;
        font-size: 25px;
        text-align: center;
        padding-bottom: 10px;
    }

    .letter_container ul #letter_end {
        padding-bottom: 10px;
    }
    */
}
