body, html {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

ul {list-style-type: none;}

.navbar #topLink a {
	background-color: #ffc4c4 !important;
	color: black !important
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.maintext {
	display: block;
}

.maintext h1 {
	text-align: center;
	font-family: "Montserrat";
	font-size: 60px;
	margin-left: 20%;
	margin-right: 20%;
}

.maintext p {
	font-size: 25px;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
	margin-bottom: 2%;
	letter-spacing: 2px;
}

.maintext h2 {
	font-family: "Montserrat";
	margin-left: 15%;
	margin-right: 15%;
	font-weight: bold;
	font-size: 30px;
}

.maintext table {
	font-family: "Montserrat";
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
	width: 70%;
}

.maintext th {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 25px;
}

.maintext td {
	font-family: "Montserrat";
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.price {
	width: 30px;
}

.container {
  display: flex;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	justify-content: center;
  align-items: center;
}

.column-left,
.column-right {
	text-align: center;
  width: 50%;
}

.title-text, .text {
  flex: 0 0 120px;
}

h2.title-text {
	margin-bottom: 1%;
}

p.text {
	font-size: 16px;
}

.maintext button {
	margin-top: 1%;
	margin-bottom: 1%;
}

.btn {
	border: 2px solid black;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
	border-radius: 20px;
}

.button {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* On mouse-over */
.btn:hover {background: #990000; color: white;}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
	.maintext h1 {
		font-size: 40px;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 7%;
	}

  .maintext p {
		font-size: 13px;
    letter-spacing: 1.5px;
    margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 11%;
	}

	h2.title-text {
		font-size: 17px;
		margin-bottom: 5%;
    margin-top: 0px;
	}

	p.text {
		margin-top: 1%;
		margin-bottom: 1%;
		font-size: 11px;
	}

	.button {
		margin-top: 2%;
	}
}
