body, html {
	height: 100%;
    margin: 0;
    font-family: "Quicksand", "Courier New";
    text-align: center;
    background-image: url("../images/music_bg.jpg");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: 400px;
    background-position: center top;
}

#main_video iframe {
    padding: 50px;
    height: 100%;
    width: 70%;
}

.active, .active:hover {
  background-color: #ccffdd !important;
  color: black !important
}

@media screen and (max-width: 500px) {
    
    .navbar #topLink a {
        background-color: #ccffdd !important;
        color: black !important
    }

    .navbar #iconMenuShows a {
        color: black !important
    }

    #main_video iframe {
    padding: 50px;
    height: 100%;
    width: 70%;
    }
}