body, html {
  width: 100%;
	height: 100%;
  overflow-x: hidden;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

ul {list-style-type: none;}

.maintext h1 {
	text-align: center;
	font-family: "Montserrat";
	font-size: 60px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 7%;
}

.maintext h2 {
	font-family: "Montserrat";
  text-align: center;
	font-weight: bold;
	font-size: 35px;
  margin-top: 5%;
}

.maintext p {
	font-size: 30px;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	letter-spacing: 2px;
}

div.gallery {
  margin-left: auto;
  margin-right: auto;
  float: center;
  width: 30%;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.title {
  padding: 15px;
  text-align: center;
}

div.desc {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
}

.column img {
  width: 100%;
  height: auto;
}

.btn {
	border: 2px solid black;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
	border-radius: 20px;
}

.button {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* On mouse-over */
.btn:hover {background: #990000; color: white;}

@media screen and (max-width:720px) {
	.maintext h1 {
		font-size: 33px;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 13%;
        font-weight: bold;
	}

  .maintext h2 {
		font-size: 27px;
	}

  div.title {
      font-size: 10px;
      padding-bottom: 5px;
  }

  div.desc {
      font-size: 10px;
  }

  .column {
    width: 25%;
    padding-left: 3px;
    padding-right: 3px;
  }
}
